/*
Theme Name:         Unity Child Theme - MODIFY THIS
Theme URI:          https://github.com/unitymakesus/
Description:        Custom WordPress theme built for [CLIENT]
Version:            1.0.0
Author:             Unity Digital Agency
Template:           unity-core/resources
Author URI:         https://www.unitymakes.us/
Text Domain:        sage

License:            MIT License
License URI:        http://opensource.org/licenses/MIT
*/
