# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# BEGIN PHP INI
<IfModule php7_module>
   php_value memory_limit 32M
   php_value post_max_size 32M
   php_value upload_max_filesize 16M
</IfModule>
# END PHP INI

# BEGIN Security
# protect wp config
<files wp-config.php>
order allow,deny
deny from all
</files>
# disable directory browsing
Options All -Indexes
# END Security
