// Remove bullets from infolist
.uabb-info-list.uabb-info-list ul li::before {
  content: none;
}

.uabb-info-list-item .uabb-info-list-icon .uabb-icon-wrap {
  vertical-align: top;
}

// Style accordions
.fl-accordion-button-label {
  font-weight: 500;
  font-size: 1em;
}

// Style Buttons
.fl-builder-content a.fl-button {
  @extend .btn;

  border: none;
  font-size: 1em;

  *, &:visited * {
    color: inherit;
  }
}

// Change header z-index when BB editor active
.fl-builder-edit .banner {
  z-index: 1;
}

// Fix form styles
.fl-builder-settings-fields select {
  font-size: inherit;
  padding: 2px 10px;
}
