.social-icons, #menu-social-links, #menu-social {
  line-height: 1em;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    display: inline-block;
    float: none;

    a {
      display: block;
      position: relative;
      height: 40px;
      width: 40px;
      padding: 0;
      overflow: hidden;
      text-align: left;
      text-indent: -100em;
      border-radius: 100%;
      background: $color-black;
      border: 2px solid $color-black;

      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: all 0.3s;
      }

      &:hover, &:active, &:focus {
        // background: lighten($color-black, 10%);
        // border-color: $color-black;

        @extend .z-depth-2;
      }
    }

    &.icon-facebook a::before, a[href*="facebook.com"]::before {
      background-image: image('socialicons/facebook.svg');
    }

    &.icon-instagram a::before, a[href*="instagram.com"]::before {
      background-image: image('socialicons/instagram.svg');
    }

    &.icon-linkedin a::before, a[href*="linkedin.com"]::before {
      background-image: image('socialicons/linkedin.svg');
    }

    &.icon-twitter a::before, a[href*="twitter.com"]::before {
      background-image: image('socialicons/twitter.svg');
    }

    &.icon-youtube a::before, a[href*="youtube.com"]::before {
      background-image: image('socialicons/youtube.svg');
    }
  }
}
