.banner {
  position: relative;

  .logo {
    max-width: 300px;
    padding: 10px 15px;
    display: inline-block;
    vertical-align: middle;

    img {
      width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }

    @media #{$medium-and-down} {
      padding-left: 0;
      min-height: 120px;
      display: flex;

      img {
        align-self: center;
        flex: 0 0 auto;
      }
    }
    @media #{$medium-and-down} {
      padding-left: 10px;
    }
  }
}
